{% extends "base.html" %}

{% block title %} Listar Productos {% endblock %}

{% block content %}
<h1>Listar Productos</h1>
<br>
<a href="{% url 'crear_productos' %}" class="btn btn-primary btn-sm">Crear Producto</a>

<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>
                <div class="producto-info">
                    <strong>Nombre:</strong> {{ producto.nombre }}<br>
                    <strong>Precio:</strong> {{ producto.precio }}<br>
                    <strong>Cantidad:</strong> {{ producto.cantidad }}
                </div>
            </td>
            <td>
                <a href="{% url 'editar_producto' producto.id %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'borrar_producto' producto.id %}" class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Estás seguro de que deseas borrar este producto?');">Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
